# Assignment on Measures of Central Tendency and Dispersion

In [5]:
import pandas as pd
data=pd.read_csv('C:/Users/HP/Downloads/StudentsPerformance.csv')

In [84]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33

# 1.

In [11]:
list (data ['gender']).count ('female')

518

In [12]:
list (data ['gender']).count ('male')

482

In [ ]:
482 and 518 males and females participated in the test respectively.

# 2.

In [92]:
data['parental level of education'].describe()

count             1000
unique               6
top       some college
freq               226
Name: parental level of education, dtype: object

In [90]:
data['parental level of education'].unique()

array(['some high school', 'high school', 'some college',
       "associate's degree", "bachelor's degree", "master's degree"],
      dtype=object)

In [93]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

Most of the parents are having education at college level,a number of 226.Only 59 number of parents have Maters degree.

# 3.

In [18]:
data_gender=data.groupby("gender")

In [19]:
data_gender["math score"].mean()

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [22]:
data_gender["reading score"].mean()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [21]:
data_gender["writing score"].mean()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

In [26]:
data_gender["test preparation course"].count()

gender
female    518
male      482
Name: test preparation course, dtype: int64

In [36]:
data['test preparation course'].describe()

count     1000
unique       2
top       none
freq       642
Name: test preparation course, dtype: object

In [38]:
data_gender["writing score"].var()

gender
female    220.369327
male      202.413924
Name: writing score, dtype: float64

In [39]:
data_gender["reading score"].var()

gender
female    207.677438
male      200.211010
Name: reading score, dtype: float64

In [40]:
data_gender["math score"].var()

gender
female    256.958593
male      211.889097
Name: math score, dtype: float64

In [41]:
data_test=data.groupby("test preparation course")

In [42]:
data_test["math score"].mean()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [44]:
data_test["reading score"].mean()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [45]:
data_test["writing score"].mean()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

# 4

In [46]:
data_test["writing score"].var()

test preparation course
completed    175.202612
none         226.251739
Name: writing score, dtype: float64

In [47]:
data_test["reading score"].var()

test preparation course
completed    183.265864
none         213.419851
Name: reading score, dtype: float64

In [48]:
data_test["math score"].var()

test preparation course
completed    210.884027
none         246.668662
Name: math score, dtype: float64

# 5

In [51]:
data["math score"].max()

100

In [52]:
data_math=data["math score"]

In [74]:
sorted_numbers=sorted(data_math,reverse=True)

In [85]:
sorted_numbers[249]

77

In [ ]:
Thus Students having marks 77 and above should be selected.